body {
    box-sizing: content-box;
    /* min-height: 600px; */
    font-weight: 450;
    height:100% ;
}

:root{
    --grey:#f2f5f5;
    --blue:#17bed2;
    --white:#ffffff;
}

.imgBackground{
    background-image: url('../img/atanas-dzhingarov-1683743-unsplash.jpg');
    background-size: 100%;
    background-repeat: cover;
    height: auto;
    margin-top: 3.6rem;
}

h1.name{
    font-size: 2.8rem;
}

p.name{
    font-size: 1.2rem;
}

h2,h4{
    font-size: 1.4rem;
}

a{
    text-decoration: none;
}
